.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        padding: 15px;
        width: 100%;
        text-align: start;
        color: $main-color;
    }

    .resources-cat {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 10px;
        padding: 20px 10px;
        background: $white-2;
        border-radius: 5px;
        box-shadow: 3px 3px 12px -2px $main-color;

        .cat-header {
            display: flex;
            align-items: center;

            .edit-cat-form {
                display: flex;
                width: 100%;

                .form-item {
                    flex: auto;
                    padding: 5px;
                    font-size: 16px;
                    font-weight: 600;
                    color: $main-color;
                    border-radius: 8px;
                    border: 1px solid $sec-color;

                    &:focus {
                        padding: 8px 13px;
                        font-size: 20px;
                    }
                }

                .save-btn {
                    margin: 10px;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 10px 5px;
                    border-radius: 6px;
                    background: $main-color;
                    color: $white-2;

                    &:hover {
                        background: $white-2;
                        border: 1px solid $main-color;
                        color: $main-color;
                    }
                }

                .cancel-btn {
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 10px 5px;
                    border-radius: 6px;
                    background: $sec-color;
                    color: $white-2;
                    border: none;
                    margin: 10px;

                    &:hover {
                        background: $white-2;
                        border: 1px solid $sec-color;
                        color: $sec-color;
                    }
                }
            }

            .cat-title {
                color: $main-color;
                font-size: 26px;
                padding: 10px;
            }

            abbr {
                text-decoration: none;

                .category-acion {
                    cursor: pointer;
                    background: none;
                    border: none;
                    color: $sec-color;
                    font-size: 1.1em;
                    margin-right: 5px;

                    &:hover {
                        color: $main-color;
                    }
                }
            }

        }

        .cat-docs {
            display: flex;
            flex-direction: column;

            .cat-doc {
                display: flex;
                justify-content: space-between;

                .doc-title {
                    color: $main-color;
                    font-weight: 600;
                    padding: 5px;

                    &:hover {
                        color: $sec-color;
                    }
                }

                .doc-actions {
                    abbr {
                        text-decoration: none;

                        .doc-action {
                            cursor: pointer;
                            background: none;
                            border: none;
                            color: $sec-color;
                            font-size: 1.1em;
                            margin-right: 5px;

                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                }

                .edit-doc {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .form-group {
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        width: 95%;

                        .form-label {
                            font-weight: 600;
                            font-size: 18px;
                            padding-bottom: 5px;
                            padding-left: 8px;
                            color: $main-color;
                        }

                        .form-item {
                            padding: 5px 10px;
                            font-size: 18px;
                            font-weight: 600;
                            color: $main-color;
                            border-radius: 8px;
                            border: 1px solid $main-color;

                            &:focus {
                                padding: 8px 13px;
                                font-size: 20px;
                            }
                        }

                        .form-err {
                            font-weight: 700;
                            color: red;
                            padding-top: 10px;
                        }
                    }

                    .edit-actions {
                        display: flex;
                        justify-content: space-around;
                        width: 100%;

                        .edit-action {
                            cursor: pointer;
                            width: 35%;
                            padding: 6px 15px;
                            font-size: 18px;
                            margin: 5px;
                            border-radius: 13px;
                            margin-right: 10px;
                            text-decoration: none;

                            &.edit {
                                background: $main-color;
                                color: $white-2;
                                border: none;

                                &:hover {
                                    border: 1px solid $main-color;
                                    padding: 2px 7px;
                                    background: $white-2;
                                    color: $main-color;
                                }
                            }

                            &.cancel {
                                border: 1px solid $sec-color;
                                padding: 2px 7px;
                                background: $white-2;
                                color: $sec-color;

                                &:hover {
                                    background: $sec-color;
                                    color: $white-2;
                                    border: none;
                                }
                            }
                        }
                    }
                }

            }

            .new-doc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .form-group {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    width: 95%;

                    .form-label {
                        font-weight: 600;
                        font-size: 18px;
                        padding-bottom: 5px;
                        padding-left: 8px;
                        color: $main-color;
                    }

                    .form-item {
                        padding: 5px 10px;
                        font-size: 18px;
                        font-weight: 600;
                        color: $main-color;
                        border-radius: 8px;
                        border: 1px solid $main-color;

                        &:focus {
                            padding: 8px 13px;
                            font-size: 20px;
                        }
                    }

                    .form-err {
                        font-weight: 700;
                        color: red;
                        padding-top: 10px;
                    }
                }

                .create-btn {
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 600;
                    width: 80%;
                    padding: 5px;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    border: 1px solid $sec-color;
                    color: $sec-color;

                    &:hover {
                        background: $sec-color;
                        color: $white-2;
                    }
                }
            }
        }
    }

    .new-cat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .new-cat-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px;
            width: 90%;
            background: $sec-color;
            border-radius: 8px;
            box-shadow: 3px 3px 12px -2px $main-color;

            .form-group {
                display: flex;
                flex-direction: column;
                padding: 10px;
                width: 95%;

                .form-label {
                    font-weight: 600;
                    font-size: 18px;
                    padding-bottom: 5px;
                    padding-left: 8px;
                    color: $white-2;
                }

                .form-item {
                    padding: 5px 10px;
                    font-size: 18px;
                    font-weight: 600;
                    color: $main-color;
                    border-radius: 8px;
                    border: 1px solid $sec-color;

                    &:focus {
                        padding: 8px 13px;
                        font-size: 20px;
                    }
                }

                .form-err {
                    font-weight: 700;
                    color: red;
                    padding-top: 10px;
                }
            }

            .create-btn {
                cursor: pointer;
                font-size: 18px;
                font-weight: 600;
                width: 93%;
                padding: 6px;
                border-radius: 10px;
                margin-bottom: 10px;
                border: 1px solid $sec-color;
                color: $main-color;

                &:hover {
                    background: $main-color;
                    color: $white-2;
                }
            }
        }
    }
}