table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 90%;
    box-shadow: 3px 3px 12px -2px $main-color;
    thead {
        background: $sec-color;
        color: $white-2;
    }
    tbody {
        background: $white-2;
        color: $main-color;
        font-weight: 600;
        font-size: 16px;
    }
    td,
    th {
        border: 1px solid $sec-color;
        padding: 0.5rem;
        text-align: left;
    }
    .active {
        color: green;
    }
    .refuser {
        color: red;
    }
    .suspendu {
        color: orange;
    }
    td:nth-child(1) {
        width: 12%;
    }
    td:nth-child(2),
    td:nth-child(3) {
        width: 13%;
    }
    td:nth-child(4) {
        width: 25%;
    }
}

.action {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    &.accepter {
        border: 1px solid green;
        color: green;
        &:hover {
            background: green;
            color: $white-2;
        }
    }
    &.refuser {
        border: 1px solid red;
        color: red;
        &:hover {
            background: red;
            color: $white-2;
        }
    }
    &.secondary {
        border: 1px solid $sec-color;
        color: $sec-color;
        &:hover {
            background: $sec-color;
            color: $white-2;
        }
    }
    i {
        margin-right: 5px;
    }
}

.load-more {
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: $white-2;
    width: 80%;
    padding: 8px;
    background: $sec-color;
    border-radius: 10px;
    border: none;
    &:hover {
        background: $white-2;
        color: $sec-color;
        border: 1px solid $sec-color;
        padding: 7px;
    }
}
