.incription-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 15px;
    background: $white-2;
    border: 1px solid $main-color;
    box-shadow: 3px 3px 12px -2px $main-color;
    .search {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        color: $main-color;
        font-weight: 600;
        font-size: 18px;
        label {
            padding-left: 10px;
        }
        .search-group {
            display: flex;
            width: 100%;
            input {
                flex: auto;
                margin-right: 10px;
                padding: 8px;
                border-radius: 10px;
                border: 1px solid $main-color;
                font-size: 18px;
                &:focus {
                    border: 0.5px solid $sec-color;
                    font-size: 22px;
                }
            }
            .search-btn {
                cursor: pointer;
                border: none;
                font-size: 16px;
                border-radius: 10px;
                font-weight: 600;
                padding: 5px 15px;
                align-items: center;
                background: $main-color;
                color: $white-2;
                &:hover {
                    background: $white-2;
                    color: $main-color;
                    border: 1px solid $main-color;
                    padding: 4px 14px;
                }
            }
        }
        .validation-err {
            color: red;
            font-weight: 600;
            font-size: 20px;
        }
    }
    .action {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        color: $white-2;
        background: $sec-color;
        padding: 8px 15px;
        margin: 0 7px;
        border-radius: 10px;
        border: none;
        &:hover {
            background: $white-2;
            color: $sec-color;
            border: 1px solid $sec-color;
            padding: 9px;
        }
    }
}

table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 90%;
    box-shadow: 3px 3px 12px -2px $main-color;
    thead {
        background: $sec-color;
        color: $white-2;
    }
    tbody {
        background: $white-2;
        color: $main-color;
        font-weight: 600;
        font-size: 16px;
    }
    td,
    th {
        border: 1px solid $sec-color;
        padding: 0.5rem;
        text-align: left;
    }
    td:nth-child(1) {
        width: 12%;
    }
    td:nth-child(2),
    td:nth-child(3) {
        width: 15%;
    }
    td:nth-child(4) {
        width: 25%;
    }
    td:nth-child(5) {
        width: 7%;
    }
}

.action {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    &.accepter {
        border: 1px solid green;
        color: green;
        &:hover {
            background: green;
            color: $white-2;
        }
    }
    &.refuser {
        border: 1px solid red;
        color: red;
        &:hover {
            background: red;
            color: $white-2;
        }
    }
    &.secondary {
        border: 1px solid $sec-color;
        color: $sec-color;
        &:hover {
            background: $sec-color;
            color: $white-2;
        }
    }
    i {
        margin-right: 5px;
    }
}

.load-more {
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: $white-2;
    width: 80%;
    padding: 8px;
    background: $sec-color;
    border-radius: 10px;
    border: none;
    &:hover {
        background: $white-2;
        color: $sec-color;
        border: 1px solid $sec-color;
        padding: 7px;
    }
}
