.posts-type {
    display: flex;
    border: 2px solid $sec-color;
    border-radius: 16px;
    margin-bottom: 15px;
    overflow: hidden;
    .type-post {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        border: none;
        padding: 3px 15px;
        width: 120px;
        &:hover,
        &.active {
            background: $sec-color;
            color: $white-2;
        }
    }
}
.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .post {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
        border-radius: 10px;
        border: 1px solid $sec-color;
        background: $white-2;
        width: 90%;
        box-shadow: 4px 2px 1px $sec-color;
        margin: 0 auto;
        margin-bottom: 20px;
        overflow: hidden;
        .post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            box-shadow: 0 8px 3px -6px $sec-color;
            .person {
                display: flex;
                align-items: center;
                justify-content: center;
                .def {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    .nom {
                        font-weight: 900;
                        font-size: 20px;
                        color: $main-color;
                    }
                    .type {
                        color: $sec-color;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                .img-container {
                    width: 60px;
                    height: 60px;
                    margin-right: 10px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 2px solid $sec-color;
                    img {
                        max-width: 60px;
                    }
                }
            }
            .created-at {
                font-size: 16px;
                font-weight: 400;
                color: $sec-color;
            }
        }
        .post-main {
            display: flex;
            flex-direction: column;
            box-shadow: 0 8px 3px -6px $sec-color;
            .post-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $main-color;
                width: 100%;
                padding: 20px;
                padding-bottom: 5px;
                .text-box {
                    font-size: 18px;
                    line-height: 24px;
                    color: $main-color;
                    overflow-x: auto;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    overflow: hidden;
                }
                .post-img {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    img {
                        max-width: 300px;
                        max-height: 400px;
                    }
                }
            }
            .post-reaction {
                display: flex;
                align-items: center;
                justify-content: end;
                margin-right: 10px;
                button {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 5px 15px;
                    padding: 6px;
                    border: none;
                    background: none;
                    i {
                        font-size: 2em;
                        color: $sec-color;
                    }
                    .post-counter {
                        color: $sec-color;
                        margin-right: 5px;
                        font-size: 15px;
                    }
                }
            }
        }
        .post-comments {
            padding: 15px;
            margin-right: 15px;
            .cmnt {
                color: $sec-color;
                font-size: 18px;
                font-weight: 600;
                font-style: inherit;
            }
            .comment {
                padding: 10px 0px;
                .cmnt-header {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px;
                    padding-top: 0;
                    .cmnt-person {
                        display: flex;
                        align-items: center;
                        .cmnt-img {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                            border-radius: 50%;
                            overflow: hidden;
                            img {
                                max-width: 40px;
                                max-height: 40px;
                            }
                        }
                        .person-detail {
                            .person-nom {
                                font-weight: 600;
                                font-size: 18px;
                                color: $main-color;
                            }
                            .person-prof {
                                color: $sec-color;
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .cmnt-content {
                    text-align: start;
                    padding: 8px;
                    border-radius: 10px;
                    background: $white-1;
                    border: 1.5px solid $sec-color;
                    pre {
                        width: 100%;
                        font-size: 16px;
                        color: $main-color;
                        overflow-x: auto;
                        white-space: pre-wrap;
                        word-wrap: break-word;
                    }
                }
                .cmnt-foot {
                    display: flex;
                    justify-content: space-between;
                    padding: 3px 15px;
                    .cmnt-react {
                        display: flex;
                        #cmnt-like {
                            cursor: pointer;
                            background: none;
                            border: none;
                            color: $sec-color;
                            font-size: 14px;
                            font-weight: 400;
                            margin-right: 10px;
                            &:hover {
                                color: $main-color;
                            }
                        }
                        p {
                            color: $sec-color;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                    .cmnt-date {
                        color: $sec-color;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
