.question {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 8px 3px -6px $sec-color;
    .question-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        padding-bottom: 0;
        .person {
            display: flex;
            align-items: center;
            .img-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                overflow: hidden;
                border-radius: 50%;
                border: 1px solid $sec-color;
                margin-right: 10px;
                img {
                    width: 60px;
                }
            }
            .name {
                color: $main-color;
                font-weight: 600;
                font-size: 22px;
            }
        }
        .created-at {
            color: $sec-color;
            font-weight: 500;
            font-size: 14px;
        }
    }
    .question-main {
        width: 100%;
        .question-content {
            padding: 15px;
            font-size: 20px;
            line-height: 24px;
            color: $main-color;
            white-space: pre-wrap;
            word-wrap: break-word;
            line-break: normal;
        }
        .q-actions {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            align-items: center;
            .question-actions {
                display: flex;
                align-items: center;
                .reactions-counter {
                    color: $main-color;
                    font-weight: 600;
                    font-size: 18px;
                }
                .trash-action{
                    cursor: pointer;
                    background: none;
                    border: none;
                    color: $sec-color;
                    margin: 5px;
                    &:hover{
                        color: red;
                    }
                    i {
                        font-size: 1.8em;
                    }
                }
                .question-action {
                    cursor: pointer;
                    background: none;
                    border: none;
                    color: $sec-color;
                    margin: 5px;
                    i {
                        font-size: 2.3em;
                        &.selected {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
    .question-reponses {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        h3{
            align-self: flex-start;
            color: $main-color;
            font-size: 24px;
            padding: 10px;
        }
        .response {
            display: flex;
            flex-direction: column;
            width: 80%;
            padding: 5px;
            margin: 10px;
            border-radius: 8px;
            background: $white-1;
            box-shadow: 0 8px 3px -6px $sec-color;
            .reponse-header {
                display: flex;
                justify-content: space-between;
                font-size: 22px;
                font-weight: 600;
                color: $main-color;
                padding-left: 10px;
                abbr {
                    text-decoration: none;
                    .reponse-action {
                        cursor: pointer;
                        background: none;
                        border: none;
                        color: $sec-color;
                        font-size: 1em;
                        margin-right: 5px;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
            .reponse-content {
                font-size: 18px;
                color: $main-color;
                padding: 5PX;
                line-break: normal;
            }
        }
    }
}
