.table-note {
    margin-top: 15px;
    border-collapse: collapse;
    width: 90%;
    box-shadow: 3px 3px 12px -2px $main-color;
    thead {
        background: $sec-color;
        color: $white-2;
    }
    tbody {
        background: $white-2;
        color: $main-color;
        font-weight: 600;
        font-size: 16px;
    }
    td,
    th {
        border: 1px solid $sec-color;
        padding: 0.5rem;
        text-align: left;
    }
    .active {
        color: green;
    }
    .refuser {
        color: red;
    }
    .suspendu {
        color: orange;
    }
    td:nth-child(1) {
        width: 15%;
    }
    td:nth-child(2),
    td:nth-child(3) {
        width: 23%;
    }
    td:nth-child(4),
    td:nth-child(5) {
        width: 12%;
    }
}

.action {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    &.accepter {
        border: 1px solid green;
        color: green;
        &:hover {
            background: green;
            color: $white-2;
        }
    }
    &.refuser {
        border: 1px solid red;
        color: red;
        &:hover {
            background: red;
            color: $white-2;
        }
    }
    &.secondary {
        border: 1px solid $sec-color;
        color: $sec-color;
        &:hover {
            background: $sec-color;
            color: $white-2;
        }
    }
    i {
        margin-right: 5px;
    }
}
