@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap);
/************** COLORS *****************/
/************** FONTS ******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}

#app {
  position: relative;
  width: 100%;
}

.container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background: #e9e9e9;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: calc(100% - 230px);
  left: 230px;
  background: #e9e9e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}
.main .top {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #6189aa;
}

::-webkit-scrollbar-thumb {
  background-color: #1e2952;
  outline: 1px solid #f3f6f4;
}

/************** COLORS *****************/
/************** FONTS ******************/
.toggle {
  width: 60px;
}
.toggle header a {
  display: none;
}
.toggle .nav-content {
  margin: 8px;
}
.toggle .nav-content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}
.toggle .nav-content ul li i {
  margin-right: 0;
  font-size: 1.4em;
}
.toggle .nav-content ul li .nav-title {
  display: none;
}
.toggle footer .sign-in {
  display: none;
}
.toggle footer .nav-profile {
  justify-content: center;
}
.toggle footer .nav-profile .profile-img {
  margin-right: 0;
}
.toggle footer .nav-profile .person-details {
  display: none;
}

.main-toggle {
  left: 60px;
  width: calc(100% - 60px);
}
.main-toggle .top {
  width: calc(100% - 60px);
}
.main-toggle .top .header a {
  display: block;
}
.main-toggle .top .header h1 {
  display: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  width: 90%;
  border-radius: 16px;
  font-weight: 700;
  padding: 8px;
}
.btn:hover {
  border: 2px solid;
  padding: 6px;
}
.btn.primary {
  color: #e9e9e9;
  background: #1e2952;
  margin: 10px;
}
.btn.primary:hover {
  background: #e9e9e9;
  color: #1e2952;
  border-color: #1e2952;
}
.btn.secondary {
  color: #f3f6f4;
  background: #6189aa;
  margin: 10px;
}
.btn.secondary:hover {
  background: #f3f6f4;
  color: #6189aa;
  border-color: #6189aa;
}
.btn.white {
  color: #1e2952;
  background: #e9e9e9;
  font-size: 24px;
}
.btn.white:hover {
  color: #f3f6f4;
  background: #6189aa;
  border-color: #f3f6f4;
}

.alert {
  position: fixed;
  display: flex;
  padding: 10px;
  top: 10px;
  border-radius: 10px;
  color: #e9e9e9;
  border: 1px solid #f3f6f4;
  font-weight: 500;
  font-size: 20px;
}
.alert.success {
  background: green;
}
.alert.danger {
  background: #ffd20a;
}
.alert .action {
  color: #6189aa;
  font-size: 20px;
}
.alert .action:hover {
  color: #f3f6f4;
}
.alert button {
  cursor: pointer;
  background: none;
  border: none;
  color: red;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  font-size: 14px;
}

.message {
  text-align: center;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  color: #e9e9e9;
  border: 1px solid #f3f6f4;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}
.message.success {
  background: green;
}
.message.danger {
  background: #ffa90a;
}
.message.refuser {
  background: #c51111;
}

.error {
  color: red;
  font-weight: 600;
}

.spin {
  -webkit-animation: spin 3s infinite;
          animation: spin 3s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  opacity: 0.5;
}

.hide {
  display: none;
}

.loading-msg {
  font-weight: 600;
  margin-top: 10px;
  opacity: 0.8;
}

.profile-actions {
  display: flex;
  padding: 15px;
}

.action {
  text-align: center;
  cursor: pointer;
  padding: 6px 15px;
  font-size: 18px;
  margin: 5px;
  border-radius: 13px;
  margin-right: 10px;
  text-decoration: none;
}
.action.edit {
  background: #6189aa;
  color: #f3f6f4;
  border: none;
}
.action.edit:hover {
  border: 1px solid #6189aa;
  padding: 5px;
  background: #f3f6f4;
  color: #6189aa;
}
.action.ajouter {
  background: green;
  color: #f3f6f4;
  border: none;
}
.action.ajouter:hover {
  border: 1px solid green;
  padding: 5px;
  background: #f3f6f4;
  color: green;
}
.action.signaler {
  background: red;
  color: #f3f6f4;
  border: none;
}
.action.signaler:hover {
  border: 1px solid red;
  padding: 5px;
  background: #f3f6f4;
  color: red;
}
.action.follow {
  color: #6189aa;
  border: 1px solid #6189aa;
}
.action.follow:hover {
  border: none;
  padding: 6px;
  color: #f3f6f4;
  background: #6189aa;
}
.action.following {
  background: #1e2952;
  color: #f3f6f4;
  border: none;
}
.action.following:hover {
  border: 1px solid #1e2952;
  padding: 5px;
  background: #f3f6f4;
  color: #1e2952;
}

.empty-result {
  color: #1e2952;
  padding: 30px;
  font-size: 18px;
  font-weight: 700;
}

.confirm {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(97, 137, 170, 0.5);
  margin: 0 auto;
}
.confirm .confirm-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3f6f4;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #1e2952;
}
.confirm .confirm-card .confirm-msg {
  color: #1e2952;
  font-size: 26px;
  font-weight: 700;
}
.confirm .confirm-card .confirm-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 230px;
  height: 100%;
  background: #1e2952;
  overflow: hidden;
  left: 0;
  transition: all 0.4s ease;
  z-index: 10000;
}
nav header {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  padding: 10px;
  text-align: center;
}
nav header a {
  color: #f3f6f4;
  font-size: 26px;
}
nav header a:hover {
  color: #6189aa;
}
nav header a i {
  margin-right: 10px;
}
nav header .fixer {
  display: none;
}
nav header .toggle-button {
  background: #1e2952;
  padding: 5px;
  border: none;
  z-index: 100000;
  cursor: pointer;
}
nav header .toggle-button.mobile {
  display: none;
}
nav header .toggle-button.desktop {
  position: relative;
}
nav header .toggle-button i {
  color: #e9e9e9;
  font-size: 2em;
}
nav .nav-content {
  display: flex;
  flex: auto;
  flex-direction: column;
  margin: 15px;
}
nav .nav-content ul {
  width: 100%;
}
nav .nav-content ul a {
  color: #f3f6f4;
  font-size: 22px;
  width: 100%;
}
nav .nav-content ul a:hover li, nav .nav-content ul a.active li {
  background: #f3f6f4;
  color: #1e2952;
}
nav .nav-content ul a li {
  line-height: 40px;
  list-style: none;
  border-radius: 10px;
  padding: 0 15px;
  margin-top: 10px;
}
nav .nav-content ul a li i {
  margin-right: 10px;
}
nav footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}
nav footer a {
  color: #1e2952;
  width: 100%;
}
nav footer a:hover {
  color: #f3f6f4;
}
nav footer a button i {
  margin-right: 8px;
}
nav footer .nav-profile {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  color: #f3f6f4;
}
nav footer .nav-profile .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  border: 2px solid #6189aa;
}
nav footer .nav-profile .profile-img img {
  width: 50px;
}
nav footer .nav-profile .person-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav footer .nav-profile .person-details .person-nom {
  font-size: 18px;
}
nav footer .nav-profile .person-details .person-prf {
  font-family: "Roboto", sans-serif;
  color: #e9e9e9;
  font-size: 16px;
  font-weight: 400;
}

.newpost {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #1e2952;
  background: #f3f6f4;
  flex-direction: column;
  width: 85%;
  margin: 20px auto;
  box-shadow: 3px 4px 18px -2px #1e2952;
}
.newpost .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.newpost .content textarea {
  padding: 8px;
  background: #f3f6f4;
  color: #1e2952;
  font-size: 16px;
  width: 100%;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #1e2952;
  height: 80px;
  margin-bottom: 8px;
  transition: 0.4s ease-in-out;
}
.newpost .content textarea:focus {
  height: 110px;
  border: 1px solid #1e2952;
}
.newpost .content label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #6189aa;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  color: #f3f6f4;
}
.newpost .content label i {
  font-size: 1.8em;
  margin-right: 8px;
}
.newpost .content input[type=file] {
  display: none;
}
.newpost .form-err {
  font-size: 16px;
  font-weight: 500;
  color: red;
  padding-bottom: 10px;
}
.newpost .image-preview {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.newpost .image-preview img {
  max-width: 50vw;
  max-height: 50vh;
}

.posts-type {
  display: flex;
  border: 2px solid #6189aa;
  border-radius: 16px;
  margin-bottom: 15px;
  overflow: hidden;
}
.posts-type .type-post {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 3px 15px;
  width: 120px;
}
.posts-type .type-post:hover, .posts-type .type-post.active {
  background: #6189aa;
  color: #f3f6f4;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.posts .post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0;
  border-radius: 10px;
  border: 1px solid #6189aa;
  background: #f3f6f4;
  width: 90%;
  box-shadow: 4px 2px 1px #6189aa;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.posts .post .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 8px 3px -6px #6189aa;
}
.posts .post .post-header .person {
  display: flex;
  align-items: center;
  justify-content: center;
}
.posts .post .post-header .person .def {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.posts .post .post-header .person .def .nom {
  font-weight: 900;
  font-size: 20px;
  color: #1e2952;
}
.posts .post .post-header .person .def .type {
  color: #6189aa;
  font-size: 16px;
  font-weight: 400;
}
.posts .post .post-header .person .img-container {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #6189aa;
}
.posts .post .post-header .person .img-container img {
  max-width: 60px;
}
.posts .post .post-header .created-at {
  font-size: 16px;
  font-weight: 400;
  color: #6189aa;
}
.posts .post .post-main {
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 3px -6px #6189aa;
}
.posts .post .post-main .post-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #1e2952;
  width: 100%;
  padding: 20px;
}
.posts .post .post-main .post-content .text-box {
  font-size: 18px;
  line-height: 24px;
  color: #1e2952;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
.posts .post .post-main .post-content .post-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.posts .post .post-main .post-content .post-img img {
  max-width: 90%;
  max-height: 400px;
}
.posts .post .post-main .post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.posts .post .post-main .post-actions .post-action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.posts .post .post-main .post-actions .post-action .action-post abbr .action {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.3em;
  color: #6189aa;
}
.posts .post .post-main .post-actions .post-action .action-post abbr .action:hover {
  color: red;
}
.posts .post .post-main .post-actions .post-reactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.posts .post .post-main .post-actions .post-reactions .share-post {
  display: flex;
  align-items: center;
}
.posts .post .post-main .post-actions .post-reactions .share-post .share-link {
  color: #6189aa;
  background: #e9e9e9;
  padding: 5px 15px;
  border: 1px solid #6189aa;
  font-weight: 600;
  border-radius: 10px;
}
.posts .post .post-main .post-actions .post-reactions .post-reaction {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 15px;
  padding: 6px;
  border: none;
  background: none;
}
.posts .post .post-main .post-actions .post-reactions .post-reaction i {
  font-size: 2em;
  color: #6189aa;
}
.posts .post .post-main .post-actions .post-reactions .post-reaction .post-counter {
  color: #6189aa;
  margin-right: 5px;
  font-size: 15px;
}

.post-comments {
  padding: 15px;
  margin-right: 15px;
  width: 100%;
}
.post-comments .cmnt {
  color: #6189aa;
  font-size: 18px;
  font-weight: 600;
  font-style: inherit;
}
.post-comments .create-comment {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.post-comments .create-comment .cmnt-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.post-comments .create-comment .cmnt-group textarea {
  padding: 4px;
  background: #f3f6f4;
  color: #1e2952;
  width: 95%;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #6189aa;
  height: 60px;
  transition: 0.4s ease-in-out;
  margin-right: 10px;
}
.post-comments .create-comment .cmnt-group textarea:focus {
  height: 65px;
  border: 1px solid #1e2952;
}
.post-comments .create-comment .cmnt-group .save-comment {
  cursor: pointer;
  background: #6189aa;
  color: #f3f6f4;
  padding: 10px;
  border: none;
  border-radius: 50%;
  text-align: center;
}
.post-comments .create-comment .cmnt-group .save-comment:hover {
  background: #f3f6f4;
  color: #6189aa;
  border: 1px solid #6189aa;
  padding: 9px;
}
.post-comments .create-comment .cmnt-group .save-comment i {
  margin: 0 auto;
  font-size: 1.8em;
}
.post-comments .comment {
  padding: 10px 0px;
}
.post-comments .comment .cmnt-header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  padding-top: 0;
}
.post-comments .comment .cmnt-header .cmnt-person {
  display: flex;
  align-items: center;
}
.post-comments .comment .cmnt-header .cmnt-person .cmnt-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.post-comments .comment .cmnt-header .cmnt-person .cmnt-img img {
  max-width: 40px;
  max-height: 40px;
}
.post-comments .comment .cmnt-header .cmnt-person .person-detail .person-nom {
  font-weight: 600;
  font-size: 18px;
  color: #1e2952;
}
.post-comments .comment .cmnt-header .cmnt-person .person-detail .person-prof {
  color: #6189aa;
  font-size: 14px;
  font-weight: 400;
}
.post-comments .comment .cmnt-header .cmnt-trash {
  align-self: flex-end;
  color: red;
  background: none;
  border: none;
  font-size: 1.2em;
  margin-right: 10px;
}
.post-comments .comment .cmnt-content {
  text-align: start;
  padding: 8px;
  border-radius: 10px;
  background: #e9e9e9;
  border: 1.5px solid #6189aa;
}
.post-comments .comment .cmnt-content pre {
  width: 100%;
  font-size: 16px;
  color: #1e2952;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.post-comments .comment .cmnt-foot {
  display: flex;
  justify-content: space-between;
  padding: 3px 15px;
}
.post-comments .comment .cmnt-foot .cmnt-react {
  display: flex;
}
.post-comments .comment .cmnt-foot .cmnt-react .cmnt-like {
  cursor: pointer;
  background: none;
  border: none;
  color: #6189aa;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.post-comments .comment .cmnt-foot .cmnt-react .cmnt-like:hover {
  color: #1e2952;
}
.post-comments .comment .cmnt-foot .cmnt-react .cmnt-like.liked {
  color: #1e2952;
  font-weight: 600;
}
.post-comments .comment .cmnt-foot .cmnt-react .cmnt-like.liked:hover {
  color: #6189aa;
}
.post-comments .comment .cmnt-foot .cmnt-react p {
  color: #6189aa;
  font-size: 14px;
  font-weight: 400;
}
.post-comments .comment .cmnt-foot .cmnt-react p.liked {
  color: #1e2952;
  font-weight: 600;
}
.post-comments .comment .cmnt-foot .cmnt-date {
  color: #6189aa;
  font-size: 14px;
  font-weight: 400;
}
.post-comments .empty-cmnt {
  color: #6189aa;
  font-weight: 600;
}
.post-comments .load-more-cmnt {
  cursor: pointer;
  color: #1e2952;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 600;
}
.post-comments .load-more-cmnt:hover {
  color: #6189aa;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #1e2952;
  border-radius: 10px;
  background: #1e2952;
  margin-top: 30px;
  width: 70%;
  box-shadow: 6px 6px 5px #6189aa;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.form-container h2 {
  color: #e9e9e9;
  font-weight: 700;
  font-size: 32px;
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
  width: 95%;
  text-align: center;
}
.form-container .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 95%;
}
.form-container .form-group .form-label {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #e9e9e9;
}
.form-container .form-group .form-item {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2952;
  border-radius: 16px;
  border: none;
}
.form-container .form-group .form-item:focus {
  padding: 8px 13px;
  font-size: 20px;
}
.form-container .form-group .form-err {
  font-weight: 700;
  color: red;
  padding-top: 10px;
}
.form-container .up-avatar {
  background: #f3f6f4;
  color: #1e2952;
  text-align: center;
  align-self: center;
  font-weight: 600;
  font-size: 22px;
  width: 60%;
  border-radius: 16px;
  padding: 7px;
}
.form-container .up-avatar:hover {
  cursor: pointer;
  background: #6189aa;
  color: #f3f6f4;
  border: 2px solid #f3f6f4;
  padding: 5px;
}
.form-container .avatar-input {
  display: none;
}
.form-container .avatar-preview {
  align-self: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #6189aa;
  margin-top: 10px;
}
.form-container .avatar-preview img {
  width: 120px;
}
.form-container .form-text {
  padding: 10px;
  color: #e9e9e9;
  font-size: 18px;
}
.form-container .form-text a {
  cursor: pointer;
  color: #6189aa;
  font-size: 20px;
}
.form-container .form-text a:hover {
  color: #f3f6f4;
}

.table-users {
  margin-top: 15px;
  border-collapse: collapse;
  width: 90%;
  box-shadow: 3px 3px 12px -2px #1e2952;
}
.table-users thead {
  background: #6189aa;
  color: #f3f6f4;
}
.table-users tbody {
  background: #f3f6f4;
  color: #1e2952;
  font-weight: 600;
  font-size: 16px;
}
.table-users td,
.table-users th {
  border: 1px solid #6189aa;
  padding: 0.5rem;
  text-align: left;
}
.table-users .active {
  color: green;
}
.table-users .refuser {
  color: red;
}
.table-users .suspendu {
  color: orange;
}
.table-users td:nth-child(1) {
  width: 12%;
}
.table-users td:nth-child(2),
.table-users td:nth-child(3) {
  width: 13%;
}
.table-users td:nth-child(4) {
  width: 25%;
}

.action {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
}
.action.accepter {
  border: 1px solid green;
  color: green;
}
.action.accepter:hover {
  background: green;
  color: #f3f6f4;
}
.action.refuser {
  border: 1px solid red;
  color: red;
}
.action.refuser:hover {
  background: red;
  color: #f3f6f4;
}
.action.secondary {
  border: 1px solid #6189aa;
  color: #6189aa;
}
.action.secondary:hover {
  background: #6189aa;
  color: #f3f6f4;
}
.action i {
  margin-right: 5px;
}

.load-more {
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #f3f6f4;
  width: 80%;
  padding: 8px;
  background: #6189aa;
  border-radius: 10px;
  border: none;
}
.load-more:hover {
  background: #f3f6f4;
  color: #6189aa;
  border: 1px solid #6189aa;
  padding: 7px;
}

.list-users {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
}
.list-users .user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  width: 360px;
  margin: 10px;
  border: 2px solid #6189aa;
  background: #f3f6f4;
  border-radius: 10px;
}
.list-users .user-card .user-info {
  display: flex;
  align-items: center;
  width: 100%;
}
.list-users .user-card .user-info .user-avatar {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border: 2px solid #6189aa;
  border-radius: 50%;
  margin-right: 10px;
}
.list-users .user-card .user-info .user-avatar img {
  width: 90px;
}
.list-users .user-card .user-info .user-details .user-name {
  color: #1e2952;
  font-size: 26px;
  font-weight: 700;
}
.list-users .user-card .user-info .user-details .user-filiere {
  color: #6189aa;
  font-size: 22px;
  font-weight: 500;
  padding-left: 10px;
}

.reports-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.reports-header .reports-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px solid #1e2952;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
}
.reports-header .reports-nav .preports-item {
  cursor: pointer;
  width: 50%;
  border: none;
  background: #1e2952;
  color: #f3f6f4;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}
.reports-header .reports-nav .preports-item:hover, .reports-header .reports-nav .preports-item.active {
  background: #f3f6f4;
  color: #1e2952;
}

.report-header {
  width: 90%;
  padding: 10px;
  margin-left: 30px;
}
.report-header .count {
  font-size: 22px;
  font-weight: 700;
  color: #1e2952;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cards .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  width: 95%;
  margin: 10px;
  border: 2px solid #6189aa;
  background: #f3f6f4;
  border-radius: 10px;
}
.cards .user .user-profile {
  display: flex;
  align-items: center;
}
.cards .user .user-profile .img-container {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #6189aa;
  margin-right: 20px;
}
.cards .user .user-profile .img-container img {
  max-width: 100px;
  max-height: 100px;
}
.cards .user .user-profile .user-details .user-name {
  font-size: 24px;
  font-weight: 600;
  color: #1e2952;
}
.cards .user .user-profile .user-details .user-filiere {
  font-size: 20px;
  font-weight: 500;
  color: #6189aa;
  padding-left: 10px;
}
.cards .user .action {
  font-size: 22px;
}

.search-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 15px;
  background: #f3f6f4;
  border: 1px solid #1e2952;
  border-radius: 10px;
  box-shadow: 3px 3px 12px -2px #1e2952;
}
.search-card .search-link {
  cursor: pointer;
  width: 90%;
  border: none;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  padding: 5px 15px;
  margin-bottom: 10px;
  background: #1e2952;
  color: #f3f6f4;
}
.search-card .search-link:hover {
  background: #f3f6f4;
  color: #1e2952;
  border: 1px solid #1e2952;
  padding: 4px 14px;
}
.search-card .search {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  color: #1e2952;
  font-weight: 600;
  font-size: 18px;
}
.search-card .search label {
  padding-left: 10px;
}
.search-card .search .search-group {
  display: flex;
  width: 100%;
}
.search-card .search .search-group input {
  flex: auto;
  margin-right: 10px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #1e2952;
  font-size: 18px;
}
.search-card .search .search-group input:focus {
  border: 0.5px solid #6189aa;
  font-size: 22px;
}
.search-card .search .search-group .search-btn {
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
  padding: 5px 15px;
  align-items: center;
  background: #1e2952;
  color: #f3f6f4;
}
.search-card .search .search-group .search-btn:hover {
  background: #f3f6f4;
  color: #1e2952;
  border: 1px solid #1e2952;
  padding: 4px 14px;
}
.search-card .search .validation-err {
  color: red;
  font-weight: 600;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 5px;
}
.search-card .action {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #f3f6f4;
  background: #6189aa;
  padding: 8px 15px;
  margin: 0 7px;
  border-radius: 10px;
  border: none;
}
.search-card .action:hover, .search-card .action.active {
  background: #f3f6f4;
  color: #6189aa;
  border: 1px solid #6189aa;
  padding: 9px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profile header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3f6f4;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #6189aa;
  box-shadow: 0 8px 6px -6px #6189aa;
}
.profile header .profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 45%;
  overflow: hidden;
  border: 2px solid #6189aa;
}
.profile header .profile-avatar img {
  width: 120px;
}
.profile header .edit-avatar {
  cursor: pointer;
  background: #6189aa;
  font-size: 18px;
  color: #f3f6f4;
  font-weight: 600;
  margin-top: 10px;
  padding: 5px 15px;
  border-radius: 16px;
}
.profile header .edit-avatar:hover {
  background: #f3f6f4;
  color: #6189aa;
  border: 1px solid #6189aa;
  padding: 4px 14px;
}
.profile header #avatar {
  display: none;
}
.profile header .person-nom {
  color: #1e2952;
  font-size: 26px;
  font-weight: 600;
  padding-top: 10px;
}
.profile header .person-type {
  color: #6189aa;
  font-size: 20px;
  font-weight: 500;
}
.profile header .desc-edit {
  padding: 8px;
  background: white;
  color: #1e2952;
  font-size: 16px;
  width: 90%;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #1e2952;
  height: 80px;
  margin-bottom: 8px;
  transition: 0.4s ease-in-out;
}
.profile header .desc-edit:focus {
  height: 90px;
  border: 1px solid #1e2952;
}
.profile header .desc-err {
  font-size: 16px;
  font-weight: 500;
  color: red;
  padding-bottom: 10px;
}
.profile header .description {
  text-align: center;
  font-size: 18px;
  color: #1e2952;
  padding: 10px;
  padding-bottom: 20px;
  width: 80%;
  overflow-x: auto;
  word-wrap: break-word;
}
.profile header .follow-count {
  display: flex;
  align-items: center;
  color: #1e2952;
  font-weight: 600;
}
.profile header .follow-count .counter {
  margin-right: 15px;
}
.profile main {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}
.profile main .left {
  width: 100%;
}
.profile main .left .newpost {
  margin-top: 10px;
}
.profile main .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}
.profile main .right .right-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #f3f6f4;
  border: 1px solid #6189aa;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.profile main .right .right-card .right-card-title {
  width: 100%;
  text-align: center;
  color: #f3f6f4;
  background: #6189aa;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #6189aa;
}
.profile main .right .right-card .right-card-element {
  color: #1e2952;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px;
}
.profile main .right .right-card .doc a {
  cursor: pointer;
  text-decoration: none;
}
.profile main .right .right-card .doc a:hover {
  color: #6189aa;
}
.profile main .right .right-card .doc .delete-doc {
  cursor: pointer;
  border: none;
  background: none;
  color: #6189aa;
  font-size: 1em;
}
.profile main .right .right-card .doc .delete-doc:hover {
  color: red;
}
.profile main .right .right-card .empty-doc {
  color: #1e2952;
  font-weight: 600;
}
.profile main .right .create-doc-btn {
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 16px;
  background: #6189aa;
  color: #f3f6f4;
  font-size: 18px;
}
.profile main .right .create-doc-btn:hover {
  background: #f3f6f4;
  color: #1e2952;
  border: 1px solid #1e2952;
}
.profile main .right .create-doc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #6189aa;
}
.profile main .right .create-doc .doc-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.profile main .right .create-doc .doc-group label {
  color: #1e2952;
  font-weight: 600;
  padding-left: 5px;
}
.profile main .right .create-doc .doc-group input {
  color: #1e2952;
  padding: 3px 10px;
  width: 100%;
  margin: 5px 0;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #6189aa;
}
.profile main .right .create-doc .doc-group .doc-err {
  color: red;
  font-weight: 600;
  font-size: 14px;
}
.profile main .right .create-doc .doc-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.create-ens {
  margin-top: 15px;
}
.create-ens .ens-btn {
  cursor: pointer;
  width: 200px;
  color: #f3f6f4;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}
.create-ens .ens-btn.close {
  background: #6189aa;
}
.create-ens .ens-btn.close:hover {
  background: #f3f6f4;
  color: #6189aa;
  border: 1px solid #6189aa;
  padding: 4px 15px;
}
.create-ens .ens-btn.create {
  background: #1e2952;
}
.create-ens .ens-btn.create:hover {
  background: #f3f6f4;
  color: #1e2952;
  border: 1px solid #1e2952;
  padding: 4px 15px;
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin-top: 15px;
  background: #f3f6f4;
  border-radius: 5px;
  box-shadow: 3px 3px 12px -2px #1e2952;
}
.create-container .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.create-container .form-group .form-label {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #1e2952;
}
.create-container .form-group .form-item {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2952;
  border-radius: 5px;
  border: 1px solid #1e2952;
}
.create-container .form-group .form-item:focus {
  padding: 6px 12px;
  font-size: 20px;
}
.create-container .form-group .form-err {
  font-weight: 700;
  color: red;
  padding-top: 10px;
}
.create-container .create-btn {
  cursor: pointer;
  width: 95%;
  background: #1e2952;
  color: #f3f6f4;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.create-container .create-btn:hover {
  background: #f3f6f4;
  color: #1e2952;
  border: 1px solid #1e2952;
  padding: 4px 15px;
}

.e-header {
  display: flex;
  justify-content: end;
  width: 90%;
}
.e-header .btn-create {
  cursor: pointer;
  width: 200px;
  color: #f3f6f4;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background: #1e2952;
}
.e-header .btn-create:hover {
  background: #f3f6f4;
  color: #1e2952;
  border: 1px solid #1e2952;
  padding: 4px 15px;
}

.modules-card {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 30px;
  padding: 20px 10px;
  background: #f3f6f4;
  border-radius: 5px;
  box-shadow: 3px 3px 12px -2px #1e2952;
}
.modules-card h2 {
  color: #1e2952;
  font-size: 26px;
}
.modules-card .modules {
  display: flex;
  flex-wrap: wrap;
}
.modules-card .modules .module {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  border: 2px solid #6189aa;
  background: #f3f6f4;
  border-radius: 6px;
  box-shadow: 3px 3px 12px -2px #1e2952;
  overflow: hidden;
}
.modules-card .modules .module .thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  overflow: hidden;
  align-self: center;
}
.modules-card .modules .module .thumbnail img {
  width: 300px;
}
.modules-card .modules .module .module-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.modules-card .modules .module .module-body .module-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
}
.modules-card .modules .module .module-body .module-info .titre {
  color: #1e2952;
  font-weight: 600;
  font-size: 20px;
  word-break: break-all;
}
.modules-card .modules .module .module-body .module-info .enseignant {
  color: #6189aa;
  font-weight: 500;
}
.modules-card .modules .module .module-body .module-info .enseignant:hover {
  color: #1e2952;
}
.modules-card .modules .module .module-body .module-info .description {
  color: #1e2952;
  font-weight: 500;
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.modules-card .modules .module .module-body .module-actions {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 5px;
}
.modules-card .modules .module .module-body .module-actions .iscrir {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modules-card .modules .module .module-body .module-actions .action {
  cursor: pointer;
  padding: 3px 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 3px;
  border-radius: 6px;
}
.modules-card .modules .module .module-body .module-actions .action.primary {
  background: #1e2952;
  color: #f3f6f4;
  border: none;
}
.modules-card .modules .module .module-body .module-actions .action.primary:hover {
  border: 1px solid #1e2952;
  padding: 2px 7px;
  background: #f3f6f4;
  color: #1e2952;
}
.modules-card .modules .module .module-body .module-actions .action.secondary {
  border: 1px solid #6189aa;
  padding: 2px 7px;
  background: #f3f6f4;
  color: #6189aa;
}
.modules-card .modules .module .module-body .module-actions .action.secondary:hover {
  background: #6189aa;
  color: #f3f6f4;
  border: none;
}
.modules-card .modules .module .module-body .module-actions .action.delete {
  border: 1px solid red;
  padding: 5px;
  background: #f3f6f4;
  color: red;
}
.modules-card .modules .module .module-body .module-actions .action.delete:hover {
  background: red;
  color: #f3f6f4;
  border: none;
}
.modules-card .modules .module .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 95%;
}
.modules-card .modules .module .form-group .form-label {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #1e2952;
}
.modules-card .modules .module .form-group .form-item {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2952;
  border-radius: 8px;
  border: 1px solid #1e2952;
}
.modules-card .modules .module .form-group .form-item:focus {
  padding: 8px 13px;
  font-size: 20px;
}
.modules-card .modules .module .form-group .form-err {
  font-weight: 700;
  color: red;
  padding-top: 10px;
}
.modules-card .modules .module .form-group textarea {
  padding: 8px;
  color: #1e2952;
  font-size: 16px;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #1e2952;
  height: 100px;
  transition: 0.4s ease-in-out;
}
.modules-card .modules .module .form-group textarea:focus {
  height: 110px;
  border: 1px solid #1e2952;
}
.modules-card .modules .module .edit-thumbnail {
  cursor: pointer;
  background: #6189aa;
  color: #f3f6f4;
  text-align: center;
  align-self: center;
  font-weight: 600;
  font-size: 20px;
  width: 80%;
  border-radius: 6px;
  padding: 7px;
}
.modules-card .modules .module .edit-thumbnail:hover {
  background: #f3f6f4;
  color: #6189aa;
  border: 2px solid #6189aa;
  padding: 5px;
}
.modules-card .modules .module .thumbnail-input {
  display: none;
}

.module-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
}
.module-header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.module-header .header-top h1 {
  color: #1e2952;
  font-size: 38px;
}
.module-header .header-top .fill-notes {
  cursor: pointer;
  padding: 5px 15px;
  background: #1e2952;
  border-radius: 5px;
  color: #f3f6f4;
}
.module-header .header-top .fill-notes:hover {
  background: #f3f6f4;
  color: #1e2952;
  border: 1px solid #1e2952;
  padding: 4px 14px;
}
.module-header .enseignant {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.module-header .enseignant .enseignant-avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 2px solid #6189aa;
  border-radius: 50%;
  margin-right: 10px;
}
.module-header .enseignant .enseignant-avatar img {
  width: 50px;
}
.module-header .enseignant .enseignant-name {
  color: #6189aa;
  font-size: 18px;
  font-weight: 700;
}
.module-header .description {
  font-size: 22px;
  padding: 5px;
  color: #1e2952;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.module-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.module-main .main-card {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 30px;
  padding: 0px 10px;
  background: #f3f6f4;
  border-radius: 5px;
  box-shadow: 3px 3px 12px -2px #1e2952;
}
.module-main .main-card h2 {
  color: #1e2952;
  padding: 10px;
}
.module-main .main-card .iscrir {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.module-main .main-card .iscrir .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 95%;
}
.module-main .main-card .iscrir .form-group .form-label {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #1e2952;
}
.module-main .main-card .iscrir .form-group .form-item {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2952;
  border-radius: 8px;
  border: 1px solid #1e2952;
}
.module-main .main-card .iscrir .form-group .form-item:focus {
  padding: 8px 13px;
  font-size: 20px;
}
.module-main .main-card .iscrir .form-group .form-err {
  font-weight: 700;
  color: red;
  padding-top: 10px;
}
.module-main .main-card .module-category {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  box-shadow: 0 8px 3px -6px #6189aa;
  width: 100%;
}
.module-main .main-card .module-category .category-title {
  color: #1e2952;
  padding-bottom: 10px;
}
.module-main .main-card .module-category .category-title .edit-title {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2952;
  border-radius: 8px;
  border: 1px solid #1e2952;
}
.module-main .main-card .module-category .category-title .edit-title:focus {
  padding: 8px 13px;
  font-size: 20px;
}
.module-main .main-card .module-category .category-title abbr {
  text-decoration: none;
}
.module-main .main-card .module-category .category-title abbr .category-acion {
  cursor: pointer;
  background: none;
  border: none;
  color: #6189aa;
  font-size: 1.1em;
  margin-right: 5px;
}
.module-main .main-card .module-category .category-title abbr .category-acion:hover {
  color: #1e2952;
}
.module-main .main-card .module-category .category-documents {
  display: flex;
  flex-direction: column;
}
.module-main .main-card .module-category .category-documents .document {
  display: flex;
  justify-content: space-between;
}
.module-main .main-card .module-category .category-documents .document .document-title {
  color: #1e2952;
  font-weight: 600;
  padding: 5px;
}
.module-main .main-card .module-category .category-documents .document .document-title:hover {
  color: #6189aa;
}
.module-main .main-card .module-category .category-documents .document .document-title i {
  font-size: 1.2em;
}
.module-main .main-card .module-category .category-documents .document .document-actions abbr {
  text-decoration: none;
}
.module-main .main-card .module-category .category-documents .document .document-actions abbr .document-action {
  cursor: pointer;
  background: none;
  border: none;
  color: #6189aa;
  font-size: 1.1em;
  margin-right: 5px;
}
.module-main .main-card .module-category .category-documents .document .document-actions abbr .document-action:hover {
  color: #1e2952;
}
.module-main .main-card .module-category .category-documents .document .edit-doc {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 95%;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .form-group .form-label {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #1e2952;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .form-group .form-item {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2952;
  border-radius: 8px;
  border: 1px solid #1e2952;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .form-group .form-item:focus {
  padding: 8px 13px;
  font-size: 20px;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .form-group .form-err {
  font-weight: 700;
  color: red;
  padding-top: 10px;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .edit-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .edit-actions .edit-action {
  cursor: pointer;
  width: 35%;
  padding: 6px 15px;
  font-size: 18px;
  margin: 5px;
  border-radius: 13px;
  margin-right: 10px;
  text-decoration: none;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .edit-actions .edit-action.edit {
  background: #1e2952;
  color: #f3f6f4;
  border: none;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .edit-actions .edit-action.edit:hover {
  border: 1px solid #1e2952;
  padding: 2px 7px;
  background: #f3f6f4;
  color: #1e2952;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .edit-actions .edit-action.cancel {
  border: 1px solid #6189aa;
  padding: 2px 7px;
  background: #f3f6f4;
  color: #6189aa;
}
.module-main .main-card .module-category .category-documents .document .edit-doc .edit-actions .edit-action.cancel:hover {
  background: #6189aa;
  color: #f3f6f4;
  border: none;
}
.module-main .main-card .create-cat {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
  color: #6189aa;
  margin: 10px 0;
}
.module-main .main-card .create-cat:hover {
  color: #1e2952;
}
.module-main .main-card .new-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.module-main .main-card .new-cat .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 95%;
}
.module-main .main-card .new-cat .form-group .form-label {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #1e2952;
}
.module-main .main-card .new-cat .form-group .form-item {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2952;
  border-radius: 8px;
  border: 1px solid #1e2952;
}
.module-main .main-card .new-cat .form-group .form-item:focus {
  padding: 8px 13px;
  font-size: 20px;
}
.module-main .main-card .new-cat .form-group .form-err {
  font-weight: 700;
  color: red;
  padding-top: 10px;
}
.module-main .main-card .new-cat .form-group textarea {
  padding: 8px;
  background: #f3f6f4;
  color: #1e2952;
  font-size: 16px;
  width: 100%;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #1e2952;
  height: 80px;
  margin-bottom: 8px;
  transition: 0.4s ease-in-out;
}
.module-main .main-card .new-cat .form-group textarea:focus {
  height: 110px;
  border: 1px solid #1e2952;
}
.module-main .main-card .new-cat .create-btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #6189aa;
  color: #6189aa;
}
.module-main .main-card .new-cat .create-btn:hover {
  background: #6189aa;
  color: #f3f6f4;
}

.module-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin-top: 15px;
  background: #f3f6f4;
  border-radius: 5px;
  box-shadow: 3px 3px 12px -2px #1e2952;
}
.module-form h1 {
  color: #1e2952;
  font-weight: 700;
  font-size: 32px;
  padding: 10px;
}
.module-form .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 95%;
}
.module-form .form-group .form-label {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #1e2952;
}
.module-form .form-group .form-item {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2952;
  border-radius: 8px;
  border: 1px solid #1e2952;
}
.module-form .form-group .form-item:focus {
  padding: 8px 13px;
  font-size: 20px;
}
.module-form .form-group .form-err {
  font-weight: 700;
  color: red;
  padding-top: 10px;
}
.module-form .form-group textarea {
  padding: 8px;
  color: #1e2952;
  font-size: 16px;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #1e2952;
  height: 100px;
  transition: 0.4s ease-in-out;
}
.module-form .form-group textarea:focus {
  height: 110px;
  border: 1px solid #1e2952;
}
.module-form .thumbnail {
  cursor: pointer;
  background: #6189aa;
  color: #f3f6f4;
  text-align: center;
  align-self: center;
  font-weight: 600;
  font-size: 22px;
  width: 300px;
  border-radius: 8px;
  padding: 7px;
  margin-top: 10px;
}
.module-form .thumbnail:hover {
  background: #f3f6f4;
  color: #6189aa;
  border: 2px solid #6189aa;
  padding: 5px;
}
.module-form .thumbnail-input {
  display: none;
}
.module-form .thumbnail-preview {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #6189aa;
  align-self: center;
}
.module-form .thumbnail-preview img {
  width: 300px;
}

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 8px 3px -6px #6189aa;
}
.question .question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-bottom: 0;
}
.question .question-header .person {
  display: flex;
  align-items: center;
}
.question .question-header .person .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #6189aa;
  margin-right: 10px;
}
.question .question-header .person .img-container img {
  width: 60px;
}
.question .question-header .person .name {
  color: #1e2952;
  font-weight: 600;
  font-size: 22px;
}
.question .question-header .created-at {
  color: #6189aa;
  font-weight: 500;
  font-size: 14px;
}
.question .question-main {
  width: 100%;
}
.question .question-main .question-content {
  padding: 15px;
  font-size: 20px;
  line-height: 24px;
  color: #1e2952;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-break: normal;
}
.question .question-main .q-actions {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.question .question-main .q-actions .question-actions {
  display: flex;
  align-items: center;
}
.question .question-main .q-actions .question-actions .reactions-counter {
  color: #1e2952;
  font-weight: 600;
  font-size: 18px;
}
.question .question-main .q-actions .question-actions .trash-action {
  cursor: pointer;
  background: none;
  border: none;
  color: #6189aa;
  margin: 5px;
}
.question .question-main .q-actions .question-actions .trash-action:hover {
  color: red;
}
.question .question-main .q-actions .question-actions .trash-action i {
  font-size: 1.8em;
}
.question .question-main .q-actions .question-actions .question-action {
  cursor: pointer;
  background: none;
  border: none;
  color: #6189aa;
  margin: 5px;
}
.question .question-main .q-actions .question-actions .question-action i {
  font-size: 2.3em;
}
.question .question-main .q-actions .question-actions .question-action i.selected {
  color: #1e2952;
}
.question .question-reponses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.question .question-reponses h3 {
  align-self: flex-start;
  color: #1e2952;
  font-size: 24px;
  padding: 10px;
}
.question .question-reponses .response {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
  background: #e9e9e9;
  box-shadow: 0 8px 3px -6px #6189aa;
}
.question .question-reponses .response .reponse-header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 600;
  color: #1e2952;
  padding-left: 10px;
}
.question .question-reponses .response .reponse-header abbr {
  text-decoration: none;
}
.question .question-reponses .response .reponse-header abbr .reponse-action {
  cursor: pointer;
  background: none;
  border: none;
  color: #6189aa;
  font-size: 1em;
  margin-right: 5px;
}
.question .question-reponses .response .reponse-header abbr .reponse-action:hover {
  color: red;
}
.question .question-reponses .response .reponse-content {
  font-size: 18px;
  color: #1e2952;
  padding: 5PX;
  line-break: normal;
}

.table-note {
  margin-top: 15px;
  border-collapse: collapse;
  width: 90%;
  box-shadow: 3px 3px 12px -2px #1e2952;
}
.table-note thead {
  background: #6189aa;
  color: #f3f6f4;
}
.table-note tbody {
  background: #f3f6f4;
  color: #1e2952;
  font-weight: 600;
  font-size: 16px;
}
.table-note td,
.table-note th {
  border: 1px solid #6189aa;
  padding: 0.5rem;
  text-align: left;
}
.table-note .active {
  color: green;
}
.table-note .refuser {
  color: red;
}
.table-note .suspendu {
  color: orange;
}
.table-note td:nth-child(1) {
  width: 15%;
}
.table-note td:nth-child(2),
.table-note td:nth-child(3) {
  width: 23%;
}
.table-note td:nth-child(4),
.table-note td:nth-child(5) {
  width: 12%;
}

.action {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
}
.action.accepter {
  border: 1px solid green;
  color: green;
}
.action.accepter:hover {
  background: green;
  color: #f3f6f4;
}
.action.refuser {
  border: 1px solid red;
  color: red;
}
.action.refuser:hover {
  background: red;
  color: #f3f6f4;
}
.action.secondary {
  border: 1px solid #6189aa;
  color: #6189aa;
}
.action.secondary:hover {
  background: #6189aa;
  color: #f3f6f4;
}
.action i {
  margin-right: 5px;
}

.new-note-container {
  display: flex;
  flex-direction: column;
  background: #f3f6f4;
  border-radius: 5px;
  box-shadow: 3px 3px 12px -2px #1e2952;
  margin-top: 30px;
  padding: 15px 5px;
  width: 90%;
}
.new-note-container .note-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.new-note-container .note-form .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 40%;
}
.new-note-container .note-form .form-group .form-label {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 8px;
  color: #6189aa;
}
.new-note-container .note-form .form-group .form-item {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2952;
  border-radius: 10px;
  border: 1px solid #6189aa;
}
.new-note-container .note-form .form-group .form-err {
  font-weight: 700;
  color: red;
  padding-top: 10px;
}
.new-note-container .note-acion {
  display: flex;
  align-self: flex-end;
}

@media only screen and (max-width: 900px) {
  nav {
    width: 0;
    height: 0;
  }

  .toggle {
    width: 100%;
    height: 100%;
  }
  .toggle header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 40px;
  }
  .toggle header .fixer {
    display: flex;
  }
  .toggle header .toggle-button {
    display: block;
  }
  .toggle header .toggle-button.mobile {
    display: flex;
  }
  .toggle header .toggle-button.desktop {
    display: none;
  }
  .toggle header a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
  }
  .toggle .nav-content {
    align-items: center;
    margin: 15px;
  }
  .toggle .nav-content ul {
    width: 100%;
  }
  .toggle .nav-content ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 15px;
  }
  .toggle .nav-content ul li i {
    margin-right: 10px;
  }
  .toggle .nav-content ul li .nav-title {
    display: flex;
  }
  .toggle footer .sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .toggle footer .nav-profile {
    background: #6189aa;
    padding: 5px 15px;
    border-radius: 16px;
    justify-content: start;
  }
  .toggle footer .nav-profile .profile-img {
    margin-right: 10px;
  }
  .toggle footer .nav-profile .person-details {
    display: flex;
  }

  .main-toggle {
    display: none;
  }
  .main-toggle .top {
    width: calc(100% - 60px);
  }
  .main-toggle .top .header a {
    display: block;
  }
  .main-toggle .top .header h1 {
    display: none;
  }

  .post {
    width: 98%;
  }
  .post .post-main {
    padding-left: 0;
    padding-top: 3px;
  }
  .post .post-main .post-content {
    width: 100%;
    padding: 0;
  }
  .post .post-main .post-content .text-box {
    font-size: 16px;
    padding: 5px;
    line-height: 22px;
  }
  .post .post-main .post-content .post-img {
    max-height: 400px;
    width: auto;
  }

  .form-container .form {
    width: 95%;
  }

  .invitation-card {
    width: 90%;
  }
  .invitation-card .sender-info .sender-details .sender-name {
    font-size: 22px;
  }
  .invitation-card .sender-info .sender-details .sender-filiere {
    font-size: 18px;
  }
  .invitation-card .invitation-action {
    width: 30%;
  }
  .invitation-card .invitation-action .action {
    font-size: 12px;
    margin: 5px 0;
  }

  .empty-result {
    color: #1e2952;
    padding: 30px;
    font-size: 18px;
    font-weight: 700;
  }

  .search-card .search .search-group {
    flex-direction: column;
  }
  .search-card .search .search-group .search-btn {
    margin: 10px;
  }

  .profile main {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }

  .modules {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    background: none;
    border-radius: 5px;
    box-shadow: none;
  }

  .main {
    width: 100%;
    left: 0;
    top: 60px;
  }
  .main .top {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    background: #1e2952;
    padding: 5px 15px;
  }
  .main .top .toggle-button {
    background: #1e2952;
    color: #f3f6f4;
    font-size: 30px;
    padding: 5px;
    border: none;
  }
  .main .top .header {
    height: 100%;
    display: flex;
    color: #f3f6f4;
  }
  .main .top .header a {
    text-decoration: none;
    color: #f3f6f4;
    font-size: 30px;
    transition: all 0.5s ease;
  }
  .main .top .header a i {
    margin-right: 10px;
    transition: all 0.5s ease;
  }
  .main .top .fixer {
    padding: 15px;
  }
}
