.alert {
    position: fixed;
    display: flex;
    padding: 10px;
    top: 10px;
    border-radius: 10px;
    color: $white-1;
    border: 1px solid $white-2;
    font-weight: 500;
    font-size: 20px;
    &.success {
        background: green;
    }
    &.danger {
        background: rgb(255, 210, 10);
    }
    .action {
        color: $sec-color;
        font-size: 20px;
        &:hover {
            color: $white-2;
        }
    }
    button {
        cursor: pointer;
        background: none;
        border: none;
        color: red;
        font-family: $main-font;
        margin-right: 10px;
        font-size: 14px;
    }
}
