.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $white-2;
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid $sec-color;
        box-shadow: 0 8px 6px -6px $sec-color;
        .profile-avatar {
            width: 120px;
            height: 120px;
            border-radius: 45%;
            overflow: hidden;
            border: 2px solid $sec-color;
            img {
                width: 120px;
            }
        }
        .edit-avatar {
            cursor: pointer;
            background: $sec-color;
            font-size: 18px;
            color: $white-2;
            font-weight: 600;
            margin-top: 10px;
            padding: 5px 15px;
            border-radius: 16px;
            &:hover {
                background: $white-2;
                color: $sec-color;
                border: 1px solid $sec-color;
                padding: 4px 14px;
            }
        }
        #avatar {
            display: none;
        }
        .person-nom {
            color: $main-color;
            font-size: 26px;
            font-weight: 600;
            padding-top: 10px;
        }
        .person-type {
            color: $sec-color;
            font-size: 20px;
            font-weight: 500;
        }
        .desc-edit {
            padding: 8px;
            background: white;
            color: $main-color;
            font-size: 16px;
            width: 90%;
            resize: none;
            outline: none;
            border-radius: 5px;
            border: 1px solid $main-color;
            height: 80px;
            margin-bottom: 8px;
            transition: 0.4s ease-in-out;
            &:focus {
                height: 90px;
                border: 1px solid $main-color;
            }
        }
        .desc-err {
            font-size: 16px;
            font-weight: 500;
            color: red;
            padding-bottom: 10px;
        }
        .description {
            text-align: center;
            font-size: 18px;
            color: $main-color;
            padding: 10px;
            padding-bottom: 20px;
            width: 80%;
            overflow-x: auto;
            word-wrap: break-word;
        }
        .follow-count{
            display: flex;
            align-items: center;
            color: $main-color;
            font-weight: 600;
            .counter{
                margin-right: 15px;
            }
        }
    }
    main {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        width: 100%;
        .left {
            width: 100%;
            .newpost {
                margin-top: 10px;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 350px;
            .right-card {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                background: $white-2;
                border: 1px solid $sec-color;
                margin-bottom: 10px;
                .right-card-title {
                    width: 100%;
                    text-align: center;
                    color: $white-2;
                    background: $sec-color;
                    font-size: 20px;
                    font-weight: 500;
                    padding: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid $sec-color;
                }
                .right-card-element {
                    color: $main-color;
                    font-size: 18px;
                    font-weight: 400;
                    padding: 5px 10px;
                }
                a {
                    cursor: pointer;
                    text-decoration: none;
                    &:hover {
                        color: $sec-color;
                    }
                }
            }
            .ajouter-doc {
                cursor: pointer;
                padding: 5px 10px;
                margin-top: 10px;
                border: none;
                border-radius: 16px;
                background: $sec-color;
                color: $white-2;
                font-size: 18px;
                &:hover {
                    background: $white-2;
                    color: $main-color;
                    border: 1px solid $main-color;
                }
            }
        }
    }
}
