.posts-type {
    display: flex;
    border: 2px solid $sec-color;
    border-radius: 16px;
    margin-bottom: 15px;
    overflow: hidden;
    .type-post {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        border: none;
        padding: 3px 15px;
        width: 120px;
        &:hover,
        &.active {
            background: $sec-color;
            color: $white-2;
        }
    }
}
.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .post {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
        border-radius: 10px;
        border: 1px solid $sec-color;
        background: $white-2;
        width: 90%;
        box-shadow: 4px 2px 1px $sec-color;
        margin: 0 auto;
        margin-bottom: 20px;
        overflow: hidden;
        .post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            box-shadow: 0 8px 3px -6px $sec-color;
            .person {
                display: flex;
                align-items: center;
                justify-content: center;
                .def {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    .nom {
                        font-weight: 900;
                        font-size: 20px;
                        color: $main-color;
                    }
                    .type {
                        color: $sec-color;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                .img-container {
                    width: 60px;
                    height: 60px;
                    margin-right: 10px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 2px solid $sec-color;
                    img {
                        max-width: 60px;
                    }
                }
            }
            .created-at {
                font-size: 16px;
                font-weight: 400;
                color: $sec-color;
            }
        }
        .post-main {
            display: flex;
            flex-direction: column;
            box-shadow: 0 8px 3px -6px $sec-color;
            .post-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: $main-color;
                width: 100%;
                padding: 20px;
                .text-box {
                    font-size: 18px;
                    line-height: 24px;
                    color: $main-color;
                    overflow-x: auto;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    overflow: hidden;
                }
                .post-img {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    img {
                        max-width: 300px;
                        max-height: 400px;
                    }
                }
            }
            .post-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 10px;

                .post-action{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .action-post{
                        abbr{
                            .action{
                                cursor: pointer;
                                border: none;
                                background: none;
                                font-size: 1.3em;
                                color: $sec-color;
                                &:hover{
                                    color: red;
                                }
                            }
                        }
                    }
                }
                .post-reactions {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .share-post {
                        display: flex;
                        align-items: center;
                        .share-link {
                            color: $sec-color;
                            background: $white-1;
                            padding: 5px 15px;
                            border: 1px solid $sec-color;
                            font-weight: 600;
                            border-radius: 10px;
                        }
                    }
                    .post-reaction {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 5px 15px;
                        padding: 6px;
                        border: none;
                        background: none;
                        i {
                            font-size: 2em;
                            color: $sec-color;
                        }
                        .post-counter {
                            color: $sec-color;
                            margin-right: 5px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
